body {
  margin: 50px 0;
}

.calendar {
  max-width: 800px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(7, 100px);
  margin: auto;
}
.calendar div:nth-child(1) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(1)::after {
  content: "1";
}
.calendar div:nth-child(1):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(2) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(2)::after {
  content: "2";
}
.calendar div:nth-child(2):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(3) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(3)::after {
  content: "3";
}
.calendar div:nth-child(3):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(4) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(4)::after {
  content: "4";
}
.calendar div:nth-child(4):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(5) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(5)::after {
  content: "5";
}
.calendar div:nth-child(5):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(6) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(6)::after {
  content: "6";
}
.calendar div:nth-child(6):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(7) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(7)::after {
  content: "7";
}
.calendar div:nth-child(7):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(8) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(8)::after {
  content: "8";
}
.calendar div:nth-child(8):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(9) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(9)::after {
  content: "9";
}
.calendar div:nth-child(9):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(10) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(10)::after {
  content: "10";
}
.calendar div:nth-child(10):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(11) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(11)::after {
  content: "11";
}
.calendar div:nth-child(11):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(12) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(12)::after {
  content: "12";
}
.calendar div:nth-child(12):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(13) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(13)::after {
  content: "13";
}
.calendar div:nth-child(13):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(14) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(14)::after {
  content: "14";
}
.calendar div:nth-child(14):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(15) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(15)::after {
  content: "15";
}
.calendar div:nth-child(15):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(16) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(16)::after {
  content: "16";
}
.calendar div:nth-child(16):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(17) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(17)::after {
  content: "17";
}
.calendar div:nth-child(17):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(18) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(18)::after {
  content: "18";
}
.calendar div:nth-child(18):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(19) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(19)::after {
  content: "19";
}
.calendar div:nth-child(19):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(20) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(20)::after {
  content: "20";
}
.calendar div:nth-child(20):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(21) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(21)::after {
  content: "21";
}
.calendar div:nth-child(21):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(22) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(22)::after {
  content: "22";
}
.calendar div:nth-child(22):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(23) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(23)::after {
  content: "23";
}
.calendar div:nth-child(23):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(24) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(24)::after {
  content: "24";
}
.calendar div:nth-child(24):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(25) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(25)::after {
  content: "25";
}
.calendar div:nth-child(25):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(26) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(26)::after {
  content: "26";
}
.calendar div:nth-child(26):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(27) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(27)::after {
  content: "27";
}
.calendar div:nth-child(27):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(28) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(28)::after {
  content: "28";
}
.calendar div:nth-child(28):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(29) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(29)::after {
  content: "29";
}
.calendar div:nth-child(29):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}
.calendar div:nth-child(30) {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eeeeee;
  box-sizing: border-box;
  transition: background-color 0.5s, cursor 0.5s, transform 0.5s;
}
.calendar div:nth-child(30)::after {
  content: "30";
}
.calendar div:nth-child(30):hover {
  background-color: #FFBFCB;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar-28 div:nth-last-child(-n+3) {
  display: none;
}
.calendar-29 div:nth-last-child(-n+2) {
  display: none;
}
.calendar-30 div:nth-last-child(-n+1) {
  display: none;
}
.calendar-31 div:nth-last-child(-n+0) {
  display: none;
}

.calendar-mon > div:nth-child(1) {
  grid-column-start: 1;
}

.calendar-tue > div:nth-child(1) {
  grid-column-start: 2;
}

.calendar-wed > div:nth-child(1) {
  grid-column-start: 3;
}

.calendar-thu > div:nth-child(1) {
  grid-column-start: 4;
}

.calendar-fri > div:nth-child(1) {
  grid-column-start: 5;
}

.calendar-sat > div:nth-child(1) {
  grid-column-start: 6;
}

.calendar-sun > div:nth-child(1) {
  grid-column-start: 7;
}

/*# sourceMappingURL=style.css.map */
